langchain
langchain_community 
langchain_google_genai
google-cloud-aiplatform
langchain_openai
langgraph
flask
flask-session
markdown
langchain-ollama
langchain_text_splitters
qdrant-client
langchainhub
langchain-qdrant
langchain_community
beautifulsoup4